@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    padding:0;
    box-sizing: 0;
    margin: 0;
    font-family: Poppins, 'serif' ;
}

main{
    display:flex;
    flex-direction: column;
background-color: #e4dfdf;
    align-items: center;
}
main h1{
    display: flex;
    background-color: #e9760a;
    width: 100%;
    height: 80px;
    justify-content: center;
    align-items: center;
}

main article{

border: 1px solid #999;
width: 100vh;
height: 50px;
margin: 5px;
text-align: left;
align-items: center;
}
main article strong{
padding: 20px 10px;
display: flex;
align-items: center;
}
main .button{
    display: flex;
    justify-content: space-between;
    width: 100vh;
    margin-top: 10px;
}
main .button .previous{
    border: none;
    width: 80px;
    height: 30px;
    border-radius: 2px;
    cursor: pointer;
    color: #fff;
    background-color: #e9760a;
}
main .button  .proxima{
    border: none;
    width: 80px;
    border-radius: 2px;
    height: 30px;
    cursor: pointer;
    color: #fff;
    background-color: green;
}


@media screen and (max-width: 375px) {
    main article{
        border: 1px solid #999;
width: 50vh;
height: 50px;
margin: 5px;
text-align: left;
align-items: center;
margin-top: 10px;
    }
    main .button{
        display: flex;
        justify-content: space-between;
        width: 50vh;
        margin-top: 5px;
    }
}